body{
background-color: #f6f8f9;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    }
    .div2, .div3, .div4, .div5{
        border-bottom: solid rgb(212, 212, 212) 1px;
        
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; 
        border-right: solid rgb(212, 212, 212) 1px;
        padding: 15px;
    }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
        padding: 15px; 
    }
    .div3 { grid-area: 1 / 3 / 2 / 4; 
        padding: 15px; 
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center; 
        justify-content: space-evenly; 
    }
    .div35{ color: red; }
    .div4 { grid-area: 1 / 4 / 2 / 5; 
        border-right: solid rgb(212, 212, 212) 1px;
        border-left: solid rgb(212, 212, 212) 1px;
        padding: 15px;
        display: flex;
        align-items: center; 
        justify-content: space-evenly;
        
    }
    .p41, .p42, .p43{
        width: 30px;
    }
    .div5 { grid-area: 1 / 5 / 2 / 6; 
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 20px;
    }
    .div6 { grid-area: 2 / 2 / 3 / 6;   
        padding: 15px; 
    }
    .logo{
        text-align: end;
    }
    .search{
    padding: 12px;
     font-size: 15px;
     border-width: 2px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #818181;
     border-style: solid;
     border-radius: 33px;
     box-shadow: 0px 0px 0px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.0);
    }
    input {outline:none;}
    input::placeholder {
        text-align: right;
    }
    .div31, .div32, .div33, .div34, .div35, .div41, .div42, .div43{
        transition: 0.3s; 
    }
    .div31:hover, .div32:hover, .div33:hover, .div34:hover, .div35:hover, .div41:hover, .div42:hover, .div43:hover{
        transform: translateY(-10px);
    }
    .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        object-fit: cover;
        border-radius: 50%;
    }