/*Vitalii*/
body{
    background-color: #f6f8f9;
    font-family: 'Montserrat', sans-serif;
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 4fr repeat(2, 1fr);
        grid-template-rows: repeat(2, 0.5fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: white;
        }
    .div2, .div3, .div4, .div5{
            border-bottom: solid rgb(212, 212, 212) 1px;
            
        }
    .div1 { grid-area: 1 / 1 / 2 / 2; 
            border-right: solid rgb(212, 212, 212) 1px;
            border-bottom: solid rgb(212, 212, 212) 1px;
            padding: 15px;
        }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
            padding: 15px;
            display: flex;
            align-items: center; 
            justify-content: space-evenly; 
        }
    .div3 { grid-area: 1 / 3 / 2 / 4; 
            
            padding: 15px; 
            font-family: 'Montserrat', sans-serif;
            display: flex;
            align-items: center; 
            justify-content: space-evenly; 
        }
    .div35{ color: red; }
    .div4 { grid-area: 1 / 4 / 2 / 5; 
            border-right: solid rgb(212, 212, 212) 1px;
            border-left: solid rgb(212, 212, 212) 1px;
            padding: 15px;
            display: flex;
            align-items: center; 
            justify-content: space-evenly;
            
        }
    .p41, .p42, .p43{
            width: 30px;
        }
    .div5 { grid-area: 1 / 5 / 2 / 6; 
            padding-top: 20px;
            padding-bottom: 15px;
            padding-left: 20px;
        }
    .div6 { grid-area: 2 / 2 / 3 / 4;
            font-family: 'Montserrat', sans-serif;
            font-size: 10.5pt;
            padding: 15px;
            display: flex;
            align-items: center; 
            justify-content: flex-start;
              
        }
    .logo{
            text-align: end;
        }
    .search{
        padding: 12px;
        font-size: 15px;
        border-width: 2px;
        border-color: #CCCCCC;
        background-color: #FFFFFF;
        color: #000000;
        border-style: solid;
        border-radius: 33px;
        box-shadow: 0px 0px 0px rgba(66,66,66,.75);
        text-shadow: 0px 0px 5px rgba(66,66,66,.0);
        }
    input {
        
        outline:none;
        background: url(/img/magnifier_icon-icons.com_48267.ico) no-repeat center right+10px;
        background-size: 10%;
        
    }
    input::placeholder {
    
            text-align: lef;
        }
    .div31, .div32, .div33, .div34, .div35, .div41, .div42, .div43{
            transition: 0.3s; 
            cursor: pointer;
        }
    .div31:hover, .div32:hover, .div33:hover, .div34:hover, .div35:hover, .div41:hover, .div42:hover, .div43:hover{
            transform: translateY(-5px);
        }
    .avatar{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            object-fit: cover;
            border-radius: 50%;
        }
        .div61{
            padding: 3px;
            border-bottom: solid 3px rgb(41, 199, 205);
            cursor: pointer;
        }
    .div62, .div63, .div64{
        margin-left: 40px;
        position: relative;
        color: #868686; 
        cursor: pointer;
        line-height: 2; 
        text-decoration: none; 
        cursor: pointer;
    }
    .div6 a::before{
        content: "";
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: rgb(41, 199, 205);
        transition: 0.1s;
        transform: scaleX(0);
    }
    .div6 a:hover:before{
        transform: scaleX(1);
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        }
    .column2{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .arrows{
        display: flex;
        
    }       
    .arr{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-bottom: #bed8ff solid 0.01px;
    }
    .arrow{
        cursor: pointer;
        color: rgb(25, 98, 161);
        margin: 5px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 6px;
        padding-bottom: 6px;
        border: solid 2px rgb(25, 98, 161);
        border-radius: 50%;
    }
    .box2{
        background-color: white;
        margin-top: 15px;
        border: 1px solid #e4f1fc;
        height: 100%;
    }

    .post_photos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .post_photo{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .post_photo img{
        width: 180px; height: 180px;
    }
    .postinfo{
        padding-top: 5px;
        width: 180px;
        word-wrap: break-word;
        font-weight:400;
        font-family: 'Roboto Flex', sans-serif;
        color: #2c2c2c;
    }
    .notice{
        color: #868686;
        font-size: 85%;
        padding-top: 5px;
        font-weight: lighter;
    }
    .posts-top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 90px;
        border-bottom: 2px solid #f5f5f5;
        text-transform: uppercase;
        margin-top: 20px;
        border-top: 1px solid #e4f1fc;
      }
      .posts-top div {
        padding-right: 50px;
      }
      .posts-top img:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .posts-top img:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .posts-top a:last-child img {
        transform: scale(-1, 1);
      }
      .posts-top h1 {
        margin-left: 30px;
        font-size: 25px;
        color: #333;
      }
      .posts-top img {
        padding: 10px; 
        height: 10px;
        margin-left: 8px;
        border: 2.5px solid #3d509e;
        border-radius: 50px;
      }

/*slavik*/
.products {
    display: grid;
    grid-template-columns:repeat(4, 2fr);
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid gray;
    border-radius: 15px;
}
.FT {
    right: 50px;
    font-size: 30px;
    color: rgb(66, 84, 93);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


 /*sofia*/
 .recomendations {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: 1px solid #e4f1fc;
    margin: 20px 0px 0px;
    padding-bottom: 30px; 
    height: 120%;
    width: 100%; 
  }
  .recomendations-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-bottom: 2px solid #f5f5f5;
    text-transform: uppercase;
  }
  .recomendations-top div {
    padding-right: 50px;
  }
  .recomendations-top img:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .recomendations-top img:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .recomendations-top a:last-child img {
    transform: scale(-1, 1);
  }
  .recomendations-top h1 {
    margin-left: 30px;

    font-size: 25px;
    color: #333;
  }
  .recomendations-top img {
    padding: 10px; 
    height: 10px;
    margin-left: 8px;
    border: 2.5px solid #3d509e;
    border-radius: 50px;
  }
  .recomendations-main {
    display: flex;  
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    flex-direction: 200px;
    color: #333;
  }
  .recomendations-main a {
    text-decoration: none;
    color: #333;
  }
  .recomendations-main div {
    width: 200px;
  }
  .recomendations-main div:hover .text {
    text-decoration: underline;
  }
  .recomendations-main img {
    height: 200px;
  }
  .recomendations-main .text {
    margin-top: 7px;
  }
  .recomendations-main-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    color: #333;
  }
  .message-card {
    margin: 0px 20px;
    margin-top: 40px;
  }
  .message-card img {
    position: absolute;
  }
  #box5 .message-card div {
    margin-left: 60px;
    margin-top: 5px;
  }
  #box5 .recomendations {
    margin-bottom: 20px;
  }
  .recomendations-main-grid label {
    border: 2px #f5f5f5 solid;
    margin: 0px 20px;
    padding: 15px;
    display: inline-block;
    position: relative;
  }
  .recomendations-main-grid label::before {
    display: block;
    position: absolute;
    bottom: -40px;
    left: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #f5f5f5 transparent transparent transparent; 
    content: "";
  
  }
  .recomendations-main-grid label::after {
    display: block;
    position: absolute;
    bottom: -36px;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: white transparent transparent transparent;
    content: " ";
  }
  .recomendations-main-grid label:nth-child(2)::after {
    left: -1px;
  }
  .name {
    font-size: 18px;
    left: 550px;
  }
  .company {
    margin-top: 5px;
    color: #c1c1c1;
    font-style: normal;
  }
  .avatar {
    border-radius: 30px;
    overflow: hidden;
    width: 50px;
  }
         
        
